    body {
       
        margin-left: 15px;
        margin-right: 15px;
        overflow-y: auto;
        background-image: url(images/2.gif);
      }
    h1 {
        margin-left: 10%;
        margin-right: 10%;
        color: red;
     }
    .list{
    background:#FCF8E3;
    float:left;
    position: fixed;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: 30%;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
     }
    .discription{
    background:#DFF0D8;
    color:#468847;
    float:right;
    width: 65%;
     }
    ul{list-style: none;}
    #inp{margin-left: 45px}
    
  